---
name: Build and push latest image

on:
  push:
    branches:
    - master

jobs:
  publish_latest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Lint
      run: |
        pip install --upgrade pip
        pip install -r build-requirements.txt
        pylint app.py
        mypy app.py --install-types --non-interactive
    - name: Build and push
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: alanbchristie/pysimple
        tags: latest
